# Xcode
DerivedData/
build/
*.xcworkspace
!CraftMaster.xcodeproj/project.xcworkspace
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# SwiftPM
.swiftpm/

# CocoaPods / Carthage (if added later)
Pods/
Carthage/Build/

# macOS
.DS_Store

# Local build artifacts created by tooling in this repo
.derivedData/

